<!DOCTYPE html>
<html>
  <head>
    <title>クラッシュアーモンドすりごま</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="top-wrapper">
      <div class="container">
        <div class="main-img">
          <img class="logo" src="<%= "/top_images/logo.png" %>">
          <img class="img01" src="<%= "/top_images/visual_img01.png" %>">
          <img class="img03" src="<%= "/top_images/visual_img03.png" %>">
          <img class="img04" src="<%= "/top_images/visual_img04.png" %>">
          <img class="img05" src="<%= "/top_images/visual_img05.png" %>">
        </div>
      </div>
    </div>

    <div class="center-wrapper">
      <div class="container">
        <div class="center">
          <ul class="center-list">
            <a class="center-head" href="https://www.shinsei-ip.ne.jp/">
              <li>
                <img class="li-logo" src="<%= "/top_images/logo.png" %>">
              </li>
            </a>
            <a class="center-head point-check anchor" href="#point">
              <li>
                商品の特徴
              </li>
            </a>
            <a class="center-head point-check anchor" href="#check">
              <li>
                おすすめレシピ
              </li>
            </a>
            <a class="center-head point-check anchor" href="#introduction">
              <li>
                商品のご紹介
              </li>
            </a>
            <a class="center-online" href="https://www.goma-shop.com/?_ga=2.75066064.356756062.1647926009-1300478666.1647265540">
              <li class="online-shop">
                <span class="fa fa-shopping-cart fa-center fa-lg"></span>
                  オンラインショップ
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>

    <div class="thirteen-wrapper">
      <div class="thirteen container">
        <div class="heading">
          <img class="heading-logo" src=" <%="/top_images/visual_img02.png" %>">
        </div>
        <div class="main">
          <img class="package" src=" <%="/top_images/fourmula_img01.png" %>">
            <div class="thirteen-contents">
              <h3>クラッシュアーモンドすりごま</h3>
              <p class="thirteen-p">すりごまに注目食材No.1のアーモンドをプラス！<br>さらに美味しく、美容にもぴったり！</p>
              <div class="thrteen-img">
                <img class="component" src=" <%= "/top_images/fourmula_img02.png" %>">
                <img class="component" src=" <%= "/top_images/fourmula_img03.png" %>">
                <img class="component" src=" <%= "/top_images/fourmula_img04.png" %>">
                <img class="component" src=" <%= "/top_images/fourmula_img05.png" %>">
              </div>
              <a class="thirteen-link" href="https://www.goma-shop.com/SHOP/5292_5.html?_ga=2.41394850.1046790497.1647265540-1300478666.1647265540">
                <span class="fa fa-shopping-cart fa-thirteen"></span>
                  オンラインショップで購入する
                <span class="fa fa-angle-right fafa-thirteen"></span>
              </a>
          </div>
        </div>
      </div>
    </div>

    <div class="noone-wrapper">
      <div class="container">
        <div class="heading">
          <img class="heading-logo" src=" <%="/top_images/contrast_img01.png" %>">
        </div>
        <div class="main noone-main">
          <p class="noone-half">
            アーモンドは今、もっとも<span class="noone-attention">トレンドの食材</span>です。日本において、アーモンドはナッツの中で<span class="noone-attention">消費量No.1！</span><br><span class="noone-attention">「毎日」「週に数回」</span>アーモンドを食べる人が半数以上！
          </p>
            <div class="noone-img">
              <img class="graph" src=" <%= "/top_images/contrast_img02.png" %>">
              <img class="graph" src=" <%= "/top_images/contrast_img03.png" %>">
            </div>
          <p class="annotation">出典:「日本市場におけるナッツに関する消費者調査」 カリフォルニア・アーモンド協会 2018年7月～8月、対象:男女2,000人</p>
        </div>
        <img class="sub noone-sweet" src=" <%= "/top_images/contrast_img04.png" %>">
        <img class="subs noone-sweets" src=" <%= "/top_images/contrast_img05.jpg" %>">
      </div>
    </div>

    <a name="point"></a>
    <div class="point-wrapper">
      <div class="container">
        <div class="point-heading">
          <h2>クラッシュアーモンド すりごまの特徴</h2>
          <img class="under-point" src=" <%= "/top_images/h2_ttl01.png" %>">
        </div>
        <div class="main point-main">
          <img class="point-img p-img-one" src=" <%= "/top_images/point_img01.png" %>">
            <div class="point-contents p-contents-one">
              <img class="number-img" src=" <%= "/top_images/point_ttl01.png" %>">
              <div class="point-content">
                <h3 class="point-h13">ごまとアーモンドの2つの栄養を<br>ひとふりで摂取！</h3>
                <h3 class="point-h3">抗酸化作用の相乗効果で栄養価アップ！<h3>
                <p>
                  アーモンドにはビタミンEが非常に多く含まれており、ごまに含まれ<br>るゴマグリナンと同時に摂取すると、ゴマグリナンのはたらきによ<br>ってビタミンE活性を増強するという研究報告があります。
                </p>
                <p class="annotation point-annotation">出典：福田 靖子「科学でひらく ゴマの世界」</p>
                <img class="point-w" src=" <%= "/top_images/point_img02.png" %>">
              </div>
            </div>
        </div>
        <div class="point-area">
          <div class="area area-left">
            <img src=" <%= "/top_images/point_img03.jpg" %>">
            <h3 class="point-h3 area-h3">アーモンド30％配合</h3>
            <p>アメリカの広大な敷地で育まれた最高品質のカリフォルニアアーモンドを使用しています。</p>
          </div>
          <div class="area area-right">
            <img src=" <%= "/top_images/point_img04.jpg" %>">
            <h3 class="point-h3 area-h3">美容に、健康に</h3>
            <p>アーモンドがプラスされたことで、ビタミンEもパワーアップ！アーモンドは美容や健康に良い食材として認知されているようです。</p>
          </div>
        </div>
        <div class="main point-main">
          <img class="point-img p-img-twe" src=" <%= "/top_images/point_img05.png" %>">
            <div class="point-contents  p-contents-twe">
              <img class="number-img-twe" src=" <%= "/top_images/point_ttl02.png" %>">
              <div class="point-content p-content-twe">
                <h3 class="point-h13">ごまとアーモンドのW食感で、<br>様々なメニューを美味しく！</h3>
                <h3 class="point-h3">料理のアクセントに香ばし食感<h3>
                <p>
                  アーモンドの食感がアクセントとなり、くせになります。<br>味つけしていないのでごまと同じ使い方ができ、様々な料理にト<br>ッピングしていただけます。
                </p>
                <img class="point-ww" src=" <%= "/top_images/point_img06.png" %>">
              </div>
            </div>
        </div>
        <div class="point-area">
            <img class="areas-left" src=" <%= "/top_images/point_img07.png" %>">
          <div class="areas areas-right">
            <img src=" <%= "/top_images/point_img08.png" %>">
            <h3 class="point-h3 area-h3">食感・おいしさプラス</h3>
            <p>クラッシュアーモンドのざくざくした食感が加わることでいつもの惣菜もランクアップ！</p>
          </div>
        </div>
        <div class="point-sub">
          <img class="sub point-sweet" src=" <%= "/top_images/point_ttl03.png" %>">
          <img class="subs point-sweets" src=" <%= "/top_images/point_img09.jpg" %>">
        </div>
      </div>
    </div>

    <a name="check"></a>
    <div class="check-wrapper2">
      <div class="container">
        <div class="point-heading">
          <h2>おすすめレシピ</h2>
          <img class="under-point" src=" <%= "/top_images/h2_ttl02.png" %>">
        </div>
        <div class="main check-main">
          <div class="check">
            <ul class="check-list">
            <a class="check-a" href="https://hattendo.jp/product/amaou/?utm_source=criteo&utm_medium=cpc">
              <li class="check-hou check-one">
                <p class="check-p check-ren">ほうれん草の和えもの</p>
                <span class="fa fa-chevron-down check-fa"></span>
              </li>
            </a>
              <li class="check-one">
                <p class="check-ptwe">レンコンとベーコンの<br>洋風きんぴら</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-one">
                <p class="check-ptwe">鶏肉のクラッシュアーモンド<br>すりごま焼き</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-one">
                <p class="check-ptwe">スモークサーモンの<br>ポテトサラダ</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-one">
                <p class="check-ptwe">まぐろとアボカドの<br>ポキプレート</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-hou check-lis">
                <p class="check-p check-nis">ニース風サラダ</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-lis">
                <p class="check-p check-nis">はちみつバタートースト</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-lis">
                <p class="check-p check-nis">りんごのパウンドケーキ</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-lis">
                <p class="check-p check-nis">いちごのヨーグルト</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-lis">
                <p class="check-p check-nis">3種類のディアマンクッキー</p>
                <span class="fa fa-chevron-down"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="recipe-wrapper">
            <div class="recipe">
            </div>
        </div>
      </div>
    </div>

    <a name="introduction"></a>
    <div class="introduction-wrapper">
      <div class="container introduction-container">
        <div class="point-heading">
          <h2>商品のご紹介</h2>
          <img class="under-point" src=" <%= "/top_images/h2_ttl03.png" %>">
        </div>
        <div class="main introduction-main">
          <img class="package introduction-package" src=" <%="/top_images/fourmula_img01.png" %>">
          <div class="thirteen-contents">
              <h3>クラッシュアーモンドすりごま</h3>
              <p class="gram">内容量 50g　216円(税込)</p>
              <p class="thirteen-p">
              すりごまにクラッシュアーモンドを30％配合。ひとふりで簡単に<br>ごまとアーモンドの栄養が摂れます。定番のごま和えから、朝<br>食、スイーツのトッピングなど幅広くご利用いただけます。
              </p>
              <p>ごまの香ばしさとアーモンドの食感がクセになるおいしさです。</p>
              <a class="thirteen-link" href="https://www.goma-shop.com/SHOP/5292_5.html?_ga=2.41394850.1046790497.1647265540-1300478666.1647265540">
                <span class="fa fa-shopping-cart fa-thirteen"></span>
                  オンラインショップで購入する
                <span class="fa fa-angle-right fafa-thirteen"></span>
              </a>
          </div>
        </div>
      </div>
    </div>

    <div class="left left-space">
      <div class="left left-main">
        <a class="right buy" href="https://www.goma-shop.com/SHOP/5292_5.html?_ga=2.99058846.1046790497.1647265540-1300478666.1647265540">
          <span class="fa fa-shopping-cart fa-lg"></span>
          <span class="br"></span>
          購入する
        </a>
        <a class="right page-top" href="#">
          <span class="fa fa-chevron-up"></span>
          <span class="br"></span>
          PAGE
          <span class="br"></span>
          TOP
        </a>
      </div>
    </div>

    <footer>
      <p class="footer-p">Copyright (c) shinsei. All Rights Reserved.</p>
    </footer>

    <%= yield %>
  </body>
</html>
