<!DOCTYPE html>
<html>
  <head>
    <title>クラッシュアーモンドすりごま</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <div class="top-wrapper">
      <div class="container">
        <div class="main-img">
          <img class="logo" src="<%= "/top_images/logo.png" %>">
          <img class="img01" src="<%= "/top_images/visual_img01.png" %>">
          <img class="img03" src="<%= "/top_images/visual_img03.png" %>">
          <img class="img04" src="<%= "/top_images/visual_img04.png" %>">
          <img class="img05" src="<%= "/top_images/visual_img05.png" %>">
        </div>
      </div>
    </div>

    <div class="center-wrapper">
      <div class="container">
        <div class="center">
          <ul class="center-list">
            <a class="center-head" href="https://www.shinsei-ip.ne.jp/">
              <li>
                <img class="li-logo" src="<%= "/top_images/logo.png" %>">
              </li>
            </a>
            <a class="center-head point-check anchor" href="#point">
              <li>
                商品の特徴
              </li>
            </a>
            <a class="center-head point-check anchor" href="#check">
              <li>
                おすすめレシピ
              </li>
            </a>
            <a class="center-head point-check anchor" href="#introduction">
              <li>
                商品のご紹介
              </li>
            </a>
            <a class="center-online" href="https://www.goma-shop.com/?_ga=2.75066064.356756062.1647926009-1300478666.1647265540">
              <li class="online-shop">
                <span class="fa fa-shopping-cart fa-center fa-lg"></span>
                  オンラインショップ
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>

    <div class="thirteen-wrapper">
      <div class="thirteen container">
        <div class="heading">
          <img class="heading-logo" src=" <%="/top_images/visual_img02.png" %>">
        </div>
        <div class="main">
          <img class="package" src=" <%="/top_images/fourmula_img01.png" %>">
            <div class="thirteen-contents">
              <h3>クラッシュアーモンドすりごま</h3>
              <p class="thirteen-p">すりごまに注目食材No.1のアーモンドをプラス！<br>さらに美味しく、美容にもぴったり！</p>
              <div class="thrteen-img">
                <img class="component" src=" <%= "/top_images/fourmula_img02.png" %>">
                <img class="component" src=" <%= "/top_images/fourmula_img03.png" %>">
                <img class="component" src=" <%= "/top_images/fourmula_img04.png" %>">
                <img class="component" src=" <%= "/top_images/fourmula_img05.png" %>">
              </div>
              <a class="thirteen-link" href="https://www.goma-shop.com/SHOP/5292_5.html?_ga=2.41394850.1046790497.1647265540-1300478666.1647265540">
                <span class="fa fa-shopping-cart fa-thirteen"></span>
                  オンラインショップで購入する
                <span class="fa fa-angle-right fafa-thirteen"></span>
              </a>
          </div>
        </div>
      </div>
    </div>

    <div class="noone-wrapper">
      <div class="container">
        <div class="heading">
          <img class="heading-logo" src=" <%="/top_images/contrast_img01.png" %>">
        </div>
        <div class="main noone-main">
          <p class="noone-half">
            アーモンドは今、もっとも<span class="noone-attention">トレンドの食材</span>です。日本において、アーモンドはナッツの中で<span class="noone-attention">消費量No.1！</span><br><span class="noone-attention">「毎日」「週に数回」</span>アーモンドを食べる人が半数以上！
          </p>
            <div class="noone-img">
              <img class="graph" src=" <%= "/top_images/contrast_img02.png" %>">
              <img class="graph" src=" <%= "/top_images/contrast_img03.png" %>">
            </div>
          <p class="annotation">出典:「日本市場におけるナッツに関する消費者調査」 カリフォルニア・アーモンド協会 2018年7月～8月、対象:男女2,000人</p>
        </div>
        <img class="sub noone-sweet" src=" <%= "/top_images/contrast_img04.png" %>">
        <img class="subs noone-sweets" src=" <%= "/top_images/contrast_img05.jpg" %>">
      </div>
    </div>

    <a name="point"></a>
    <div class="point-wrapper">
      <div class="container">
        <div class="point-heading">
          <h2>クラッシュアーモンド すりごまの特徴</h2>
          <img class="under-point" src=" <%= "/top_images/h2_ttl01.png" %>">
        </div>
        <div class="main point-main">
          <img class="point-img p-img-one" src=" <%= "/top_images/point_img01.png" %>">
            <div class="point-contents p-contents-one">
              <img class="number-img" src=" <%= "/top_images/point_ttl01.png" %>">
              <div class="point-content">
                <h3 class="point-h13">ごまとアーモンドの2つの栄養を<br>ひとふりで摂取！</h3>
                <h3 class="point-h3">抗酸化作用の相乗効果で栄養価アップ！<h3>
                <p>
                  アーモンドにはビタミンEが非常に多く含まれており、ごまに含まれ<br>るゴマグリナンと同時に摂取すると、ゴマグリナンのはたらきによ<br>ってビタミンE活性を増強するという研究報告があります。
                </p>
                <p class="annotation point-annotation">出典：福田 靖子「科学でひらく ゴマの世界」</p>
                <img class="point-w" src=" <%= "/top_images/point_img02.png" %>">
              </div>
            </div>
        </div>
        <div class="point-area">
          <div class="area area-left">
            <img src=" <%= "/top_images/point_img03.jpg" %>">
            <h3 class="point-h3 area-h3">アーモンド30％配合</h3>
            <p>アメリカの広大な敷地で育まれた最高品質のカリフォルニアアーモンドを使用しています。</p>
          </div>
          <div class="area area-right">
            <img src=" <%= "/top_images/point_img04.jpg" %>">
            <h3 class="point-h3 area-h3">美容に、健康に</h3>
            <p>アーモンドがプラスされたことで、ビタミンEもパワーアップ！アーモンドは美容や健康に良い食材として認知されているようです。</p>
          </div>
        </div>
        <div class="main point-main">
          <img class="point-img p-img-twe" src=" <%= "/top_images/point_img05.png" %>">
            <div class="point-contents  p-contents-twe">
              <img class="number-img-twe" src=" <%= "/top_images/point_ttl02.png" %>">
              <div class="point-content p-content-twe">
                <h3 class="point-h13">ごまとアーモンドのW食感で、<br>様々なメニューを美味しく！</h3>
                <h3 class="point-h3">料理のアクセントに香ばし食感<h3>
                <p>
                  アーモンドの食感がアクセントとなり、くせになります。<br>味つけしていないのでごまと同じ使い方ができ、様々な料理にト<br>ッピングしていただけます。
                </p>
                <img class="point-ww" src=" <%= "/top_images/point_img06.png" %>">
              </div>
            </div>
        </div>
        <div class="point-area">
            <img class="areas-left" src=" <%= "/top_images/point_img07.png" %>">
          <div class="areas areas-right">
            <img src=" <%= "/top_images/point_img08.png" %>">
            <h3 class="point-h3 area-h3">食感・おいしさプラス</h3>
            <p>クラッシュアーモンドのざくざくした食感が加わることでいつもの惣菜もランクアップ！</p>
          </div>
        </div>
        <div class="point-sub">
          <img class="sub point-sweet" src=" <%= "/top_images/point_ttl03.png" %>">
          <img class="subs point-sweets" src=" <%= "/top_images/point_img09.jpg" %>">
        </div>
      </div>
    </div>

    <a name="check"></a>
    <div class="check-wrapper">
      <div class="container">
        <div class="point-heading">
          <h2>おすすめレシピ</h2>
          <img class="under-point" src=" <%= "/top_images/h2_ttl02.png" %>">
        </div>
        <div class="main check-main">
          <div class="check">
            <ul class="check-list">
              <li class="check-buttom check-hou check-one" id="recipe_buttom_1">
                <p class="check-p check-ren">ほうれん草の和えもの</p>
                <span class="fa fa-chevron-down check-fa"></span>
              </li>
              <li class="check-buttom check-one" id="recipe_buttom_2">
                <p class="check-ptwe">レンコンとベーコンの<br>洋風きんぴら</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-buttom check-one" id="recipe_buttom_3">
                <p class="check-ptwe">鶏肉のクラッシュアーモンド<br>すりごま焼き</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-buttom check-one" id="recipe_buttom_4">
                <p class="check-ptwe">スモークサーモンの<br>ポテトサラダ</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-buttom check-one" id="recipe_buttom_5">
                <p class="check-ptwe">まぐろとアボカドの<br>ポキプレート</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-buttom check-hou check-lis" id="recipe_buttom_6">
                <p class="check-p check-nis">ニース風サラダ</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-buttom check-lis" id="recipe_buttom_7">
                <p class="check-p check-nis">はちみつバタートースト</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-buttom check-lis" id="recipe_buttom_8">
                <p class="check-p check-nis">りんごのパウンドケーキ</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-buttom check-lis" id="recipe_buttom_9">
                <p class="check-p check-nis">いちごのヨーグルト</p>
                <span class="fa fa-chevron-down"></span>
              </li>
              <li class="check-buttom check-lis" id="recipe_buttom_10">
                <p class="check-p check-nis">3種類のディアマンクッキー</p>
                <span class="fa fa-chevron-down"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="recipe-wrapper">
            <div class="recipe" id="recipe_1">
              <div class="recipe-head">
                <img class="cutlery" src=" <%= "/top_images/recipe_icon01.jpg" %>">
                <h3 class="recipe-h3">ほうれん草の和えもの</h3>
              </div>
              <div class="recipe-main">
                <img class="recipe-img" src=" <%="/top_images/recipe01_img01.jpg" %>">
                <div class="recipe-contents">
                  <h4>材料（2人分）</h4>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ほうれん草</span>
                    <span class="recipe-right">1束</span>
                  </p>
                  <p class="A">A</p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">クラッシュアーモンドすりごま</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">しょう油・砂糖各</span>
                    <span class="recipe-right">各大さじ1/2</span>
                  </p>
                  <h4 class="recipe-h4">作り方</h4>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">①</span>
                      ほうれん草はさっとゆでて水気を絞り、3cm幅に切る。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">②</span>
                      ボウルで①・Aを和える。
                  </p>
                </div>
              </div>
            </div>

            <div class="recipe" style="display:none;" id="recipe_2">
              <div class="recipe-head">
                <img class="cutlery" src=" <%= "/top_images/recipe_icon01.jpg" %>">
                <h3 class="recipe-h3">レンコンとベーコンの洋風きんぴら</h3>
              </div>
              <div class="recipe-main">
                <img class="recipe-img" src=" <%="/top_images/recipe01_img02.jpg" %>">
                <div class="recipe-contents">
                  <h4>材料（2人分）</h4>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">レンコン</span>
                    <span class="recipe-right">150g</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ベーコン</span>
                    <span class="recipe-right">40g</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">オリーブ油</span>
                    <span class="recipe-right">大さじ1</span>
                  </p>
                  <p class="A">A</p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ニンニク（みじん切り）</span>
                    <span class="recipe-right">1/2片分</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">鷹の爪（輪切り）</span>
                    <span class="recipe-right">小さじ1/4</span>
                  </p>
                  <p class="A">B</p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">コンソメスープの素（顆粒）</span>
                    <span class="recipe-right">小さじ1/2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">塩・コショウ</span>
                    <span class="recipe-right">各適量</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">クラッシュアーモンドすりごま</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <h4>作り方</h4>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">①</span>
                    レンコンはスライスして、酢水（分量外）にさらす。ベーコ<br>ンは1cm幅に切る。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">②</span>
                      フライパンにオリーブ油とAを入れ、弱火で炒め、ニンニク<br>の香りが出たらベーコンを入れ、カリカリになるまで炒める。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">③</span>
                      レンコンを加えて炒め、しんなりとしたらBを入れ混ぜ合わ<br>せる。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">④</span>
                      クラッシュアーモンドすりごまを入れ、全体をなじませる。
                  </p>
                </div>
              </div>
            </div>
            
            <div class="recipe" style="display:none;" id="recipe_3">
              <div class="recipe-head">
                <img class="cutlery" src=" <%= "/top_images/recipe_icon01.jpg" %>">
                <h3 class="recipe-h3">鶏肉のクラッシュアーモンドすりごま焼き</h3>
              </div>
              <div class="recipe-main">
                <img class="recipe-img" src=" <%="/top_images/recipe01_img03.jpg" %>">
                <div class="recipe-contents">
                  <h4>材料（2人分）</h4>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">鶏もも肉</span>
                    <span class="recipe-right">1枚（300g）</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">塩・コショウ・薄力粉</span>
                    <span class="recipe-right">適量</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">卵</span>
                    <span class="recipe-right">1個</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">クラッシュアーモンドすりごま</span>
                    <span class="recipe-right">1袋</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">オリーブ油</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">クレソン・ミニトマト・レモン</span>
                    <span class="recipe-right">適宜</span>
                  </p>
                  <h4 class="recipe-h4">作り方</h4>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">①</span>
                      鶏もも肉はひと口大に切り、塩・コショウをして薄力粉をま<br>ぶし、溶き卵にくぐらせてクラッシュアーモンドすりごまを<br>まぶす。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">②</span>
                      フライパンにオリーブ油を熱し、①を両面焼き色がつくまで<br>焼く。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">②</span>
                      油を切って器に盛り、クレソン・ミニトマト・レモンを添え<br>る。
                  </p>
                </div>
              </div>
            </div>

            <div class="recipe" style="display:none;" id="recipe_4">
              <div class="recipe-head">
                <img class="cutlery" src=" <%= "/top_images/recipe_icon01.jpg" %>">
                <h3 class="recipe-h3">スモークサーモンのポテトサラダ</h3>
              </div>
              <div class="recipe-main">
                <img class="recipe-img" src=" <%="/top_images/recipe01_img04.jpg" %>">
                <div class="recipe-contents">
                  <h4>材料（2人分）</h4>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">じゃがいも</span>
                    <span class="recipe-right">2個</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">スモークサーモン</span>
                    <span class="recipe-right">70g</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">たまねぎ</span>
                    <span class="recipe-right">1/4個</span>
                  </p>
                  <p class="A">A</p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">クラッシュアーモンドすりごま</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">マヨネーズ</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ヨーグルト</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">粒マスタード</span>
                    <span class="recipe-right">小さじ1</span>
                  </p>
                  <p class="B"></p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ディル</span>
                    <span class="recipe-right">2枝</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ピンクペッパー</span>
                    <span class="recipe-right">適量</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">サラダ菜・レモン・バゲット</span>
                    <span class="recipe-right">適宜</span>
                  </p>
                  <h4 class="recipe-h4">作り方</h4>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">①</span>
                      じゃがいもは皮をむいてひと口大に切り、ラップをして電子<br>レンジで5分加熱し、マッシャーで潰す。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">②</span>
                      たまねぎは薄切りにし、水にさらして水気を絞る。ディルは2<br>～3cm幅に刻む。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">②</span>
                      ①・②・A・スモークサーモンを混ぜ合わせ、器に盛り、ピ<br>ンクペッパーを散らす。
                  </p>
                </div>
              </div>
            </div>

            <div class="recipe" style="display:none;" id="recipe_5">
              <div class="recipe-head">
                <img class="cutlery" src=" <%= "/top_images/recipe_icon01.jpg" %>">
                <h3 class="recipe-h3">まぐろとアボカドのポキプレート</h3>
              </div>
              <div class="recipe-main">
                <img class="recipe-img" src=" <%="/top_images/recipe01_img05.jpg" %>">
                <div class="recipe-contents">
                  <h4>材料（2人分）</h4>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">まぐろ（赤身）</span>
                    <span class="recipe-right">1サク（200g）</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">アボカド</span>
                    <span class="recipe-right">1個</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">細ねぎ（小口切り）</span>
                    <span class="recipe-right">適量</span>
                  </p>
                  <p class="A">A</p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">しょう油・クラッシュアーモンドすりごま</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">みりん・砂糖</span>
                    <span class="recipe-right">大さじ1</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">オリーブ油</span>
                    <span class="recipe-right">小さじ1</span>
                  </p>
                  <p class="B"></p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">クラッシュアーモンドすりごま</span>
                    <span class="recipe-right">大さじ1</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ご飯</span>
                    <span class="recipe-right">2杯分</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">青じそ・刻み海苔・いりごま（白）</span>
                    <span class="recipe-right">適宜</span>
                  </p>
                  <h4 class="recipe-h4">作り方</h4>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">①</span>
                      まぐろとアボカドは1.5cmの角切りにし、ボウルに入れて細<br>ねぎ・Aと和える。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">②</span>
                      ご飯・青じそ・①を器に盛り、クラッシュアーモンドすりご<br>ま・いりごま・刻み海苔をかける。
                  </p>
                </div>
              </div>
            </div>

            <div class="recipe" style="display:none;" id="recipe_6">
              <div class="recipe-head">
                <img class="cutlery" src=" <%= "/top_images/recipe_icon01.jpg" %>">
                <h3 class="recipe-h3">ニース風サラダ</h3>
              </div>
              <div class="recipe-main">
                <img class="recipe-img" src=" <%="/top_images/recipe01_img02.jpg" %>">
                <div class="recipe-contents">
                  <h4>材料（2人分）</h4>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">スナップエンドウ</span>
                    <span class="recipe-right">4本</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ゆで卵</span>
                    <span class="recipe-right">1個</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ツナ</span>
                    <span class="recipe-right">40g</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ブラックオリーブ</span>
                    <span class="recipe-right">3粒</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ベビーリーフ</span>
                    <span class="recipe-right">1袋</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">パプリカ（赤）</span>
                    <span class="recipe-right">1/4個</span>
                  </p>
                  <p class="A">A</p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">クラッシュアーモンドすりごま</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">オリーブ油</span>
                    <span class="recipe-right">大さじ1</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">レモン汁</span>
                    <span class="recipe-right">小さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">はちみつ</span>
                    <span class="recipe-right">小さじ1</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">塩</span>
                    <span class="recipe-right">適量</span>
                  </p>
                  <h4>作り方</h4>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">①</span>
                    スナップエンドウは筋を取りさっと茹でてさやを開く。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">②</span>
                    ゆで卵は縦に4等分に切り、ツナは荒くほぐし、ブラックオリ<br>ーブは輪切り、パプリカは乱切りにする。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">③</span>
                    ②を器に盛り、①を乗せ、Aをかける。
                  </p>
                </div>
              </div>
            </div>

            <div class="recipe" id="recipe_7">
              <div class="recipe-head">
                <img class="cutlery" src=" <%= "/top_images/recipe_icon01.jpg" %>">
                <h3 class="recipe-h3">はちみつバタートースト</h3>
              </div>
              <div class="recipe-main">
                <img class="recipe-img" src=" <%="/top_images/recipe01_img07.jpg" %>">
                <div class="recipe-contents">
                  <h4>材料（2人分）</h4>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">食パン（4枚切り）</span>
                    <span class="recipe-right">2枚</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">クラッシュアーモンドすりごま</span>
                    <span class="recipe-right">大さじ6</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">バター</span>
                    <span class="recipe-right">20g</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">はちみつ</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <h4 class="recipe-h4">作り方</h4>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">①</span>
                      食パンは十字に切り込みを入れ、トースターでこんがりと焼<br>く。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">②</span>
                      ①にはちみつを塗り、クラッシュアーモンドすりごまをか<br>け、バターをのせる。
                  </p>
                </div>
              </div>
            </div>

            <div class="recipe" style="display:none;" id="recipe_8">
              <div class="recipe-head">
                <img class="cutlery" src=" <%= "/top_images/recipe_icon01.jpg" %>">
                <h3 class="recipe-h3">りんごのパウンドケーキ</h3>
              </div>
              <div class="recipe-main">
                <img class="recipe-img" src=" <%="/top_images/recipe01_img08.jpg" %>">
                <div class="recipe-contents">
                  <h4>材料（20cm×5cm×5cmの型1個分）</h4>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">ホットケーキミックス</span>
                    <span class="recipe-right">100g</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">卵</span>
                    <span class="recipe-right">1個</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">砂糖</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">太白ごま油</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">牛乳</span>
                    <span class="recipe-right">30ml</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">クラッシュアーモンドすりごま</span>
                    <span class="recipe-right">大さじ2と1/2</span>
                  </p>
                  <p class="A">A</p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">りんご（1cmのいちょう切り）</span>
                    <span class="recipe-right">1/2個</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">砂糖</span>
                    <span class="recipe-right">大さじ2</span>
                  </p>
                  <p class="recipe-content recipe-b">
                    <span class="recipe-left">レモン汁</span>
                    <span class="recipe-right">小さじ1</span>
                  </p>
                  <h4>作り方</h4>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">①</span>
                    鍋にAを入れ、りんごが柔らかくなるまで弱火で煮て、あら<br>熱をとる。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">②</span>
                      ボウルに卵、砂糖を入れ、泡立て器で混ぜる・太白ごま油・<br>牛乳を加えて混ぜる。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">③</span>
                    ②にホットケーキミックスを加え、さっくり軽く混ぜ合わ<br>せ、①・クラッシュアーモンドすりごま大さじ2を加え混ぜた<br>ら型に入れる。更にクラッシュアーモンドすりごま大さじ1/2<br>をかける。
                  </p>
                  <p class="recipe-content recipe-c">
                    <span class="recipe-mark">④</span>
                      180度に温めたオーブンで約30分焼く。途中焼き色が付きす<br>ぎてしまう場合はアルミホイルをかける。
                  </p>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>

    <a name="introduction"></a>
    <div class="introduction-wrapper">
      <div class="container introduction-container">
        <div class="point-heading">
          <h2>商品のご紹介</h2>
          <img class="under-point" src=" <%= "/top_images/h2_ttl03.png" %>">
        </div>
        <div class="main introduction-main">
          <img class="package introduction-package" src=" <%="/top_images/fourmula_img01.png" %>">
          <div class="thirteen-contents">
              <h3>クラッシュアーモンドすりごま</h3>
              <p class="gram">内容量 50g　216円(税込)</p>
              <p class="thirteen-p">
              すりごまにクラッシュアーモンドを30％配合。ひとふりで簡単に<br>ごまとアーモンドの栄養が摂れます。定番のごま和えから、朝<br>食、スイーツのトッピングなど幅広くご利用いただけます。
              </p>
              <p>ごまの香ばしさとアーモンドの食感がクセになるおいしさです。</p>
              <a class="thirteen-link" href="https://www.goma-shop.com/SHOP/5292_5.html?_ga=2.41394850.1046790497.1647265540-1300478666.1647265540">
                <span class="fa fa-shopping-cart fa-thirteen"></span>
                  オンラインショップで購入する
                <span class="fa fa-angle-right fafa-thirteen"></span>
              </a>
          </div>
        </div>
      </div>
    </div>

    <div class="left left-space">
      <div class="left left-main">
        <a class="right buy" href="https://www.goma-shop.com/SHOP/5292_5.html?_ga=2.99058846.1046790497.1647265540-1300478666.1647265540">
          <span class="fa fa-shopping-cart fa-lg"></span>
          <span class="br"></span>
          購入する
        </a>
        <a class="right page-top" href="#">
          <span class="fa fa-chevron-up"></span>
          <span class="br"></span>
          PAGE
          <span class="br"></span>
          TOP
        </a>
      </div>
    </div>

    <footer>
      <p class="footer-p">Copyright (c) shinsei. All Rights Reserved.</p>
    </footer>

    <%= yield %>
    <script>
      $('.check-buttom').click(function() {
        $(".recipe").hide();
        $("#recipe_" + $(this).attr("id").slice(-1)).show();
    })
    </script>
  </body>
</html>
